---
BasedOnStyle: Google
Language: Cpp

AccessModifierOffset: 0
IndentAccessModifiers: false
NamespaceIndentation: None

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: true
  PadOperators: true
AlignOperands: Align

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true

AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false

BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterFunction: false
  BeforeElse: false
  BeforeWhile: false
  SplitEmptyFunction: true

BreakBeforeBraces: WebKit
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: true

ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^[<"].*[">]$'
    Priority: 10
  - Regex: '.*'
    Priority: 20

IndentCaseLabels: true
IndentWidth: 4
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 1

PenaltyBreakComment: 300
PenaltyExcessCharacter: 1000000

PointerAlignment: Left
ReflowComments: true
SortIncludes: CaseSensitive
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

Standard: Auto
TabWidth: 8
UseTab: Never
...
